 <html>
    <head>
    <title>Geolocation</title>
    <link rel="html" href="/about.html.erb" type="text/css">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
		#directions-panel {
		margin-top: 10px;
		
		padding: 10px;
		overflow: scroll;
		height: 174px;
      }
      
      html, heyo
      {
          color: black;
      }
      
      
      
      
    </style>
  </head>
<body>
<div>
    
<!--<heyo>-->
<!--Distance you would like to go: -->
<!--</heyo>-->
<!--<input type="text" id=myText onfocus="this.value=''" value="Distance">-->

<!--<button onclick="getRad()">Lets Go!</button>-->
<div class="select-callout text-center">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
<form action="">

<fieldset id="group1">
        <heyo>
        	<div class="center">
        	<h2 class="text-primary">Please select a direction you would like to run:</h2>
        	
<button class="btn btn-defualt btn-primary" onclick='functionCalledN()'name="group1" />North</button><br>
		<br>
<button class="btn btn-defualt btn-primary" onclick='functionCalledE()'name="group1" /> East </button><br>
		<br>
<button class="btn btn-defualt btn-primary" type='radio' onclick='functionCalledS()'name="group1" />South</button><br>
			<br>
<button class="btn btn-defualt btn-primary" type='radio' onclick='functionCalledW()'name="group1" /> West </button><br>
			</div>
        </heyo>
        
   </fieldset>
   </div>
   </div>
   </div>
   

</form>
</div>




</div>
<div class="about-callout container text-center">
    <img src ="https://i.imgur.com/riURc8E.png"></img>
</div>
<div id="map"></div>


<div id="directions-panel"></div>
<script>

     function functionCalledN() 
     {
          window.open("https://spring-hackpsu-dgallis.c9users.io/north");
     }
         function functionCalledS() 
     {
          window.open("https://spring-hackpsu-dgallis.c9users.io/south");
     }
         function functionCalledE() 
     {
          window.open("https://spring-hackpsu-dgallis.c9users.io/east");
     }
         function functionCalledW() 
     {
          window.open("https://spring-hackpsu-dgallis.c9users.io/west");
     }

    </script>
</body>

</html>