<div class="about-callout container-fluid text-center">
    <h1>About our service:</h1>
    <p>Ever want to take a run but not know where to start?<br>
    Our app, with just a few questions will pick out the perfect route for you based on your location.
    </p>
    
</div>
<head>
<style>
.parallax { 
    /* The image used */
    /*background-image: url("http://www.catster.com/wp-content/uploads/2017/11/A-Siamese-cat.jpg");*/
    background-image: url("https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?cs=srgb&dl=endurance-exercise-female-40751.jpg&fm=jpg");
    /* Set a specific height */
    height: 450px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>

<!-- Container element -->
<div class="parallax"></div>

		<!-- Projects -->
		<section  id="projects" class="section section-2">
			<div class="container">
				<div class="has-text-centered">
					<h3 class="title is-3">Projects</h3>
				</div>
				
				<div class="columns is-multiline is-desktop">
					<!-- Project 1 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
										<img src="https://www.tacobell.com/medias/International-Hero.jpg?context=bWFzdGVyfHJvb3R8MjkyNDczfGltYWdlL2pwZWd8aDU5L2hiOC84ODA2NzYwMTIwMzUwLmpwZ3w1NGFkOWMxOTMwZjVkNWRiMmI5Nzk3Mzk1Y2I2NTA1YTA5N2EwNjUyYTlmYjFhNTJlMTJlNDk0YWI5N2Y1NDdm" alt="Image">
									</figure>
								</div>
								<div>			
									<p>
										They don’t want us to eat. I told you all this before, when you have a swimming pool, do not use chlorine, use salt water, the healing, salt water is the healing.
									</p>
								</div>
							</article>
						</div>
					</div>
					<!-- Project 2 -->
					<div class="column">
						<div class="box project-text">
							<article>
								<div>
									<figure class="image project-figure">
										<img scr="https://www.tacobell.com/medias/International-Hero.jpg?context=bWFzdGVyfHJvb3R8MjkyNDczfGltYWdlL2pwZWd8aDU5L2hiOC84ODA2NzYwMTIwMzUwLmpwZ3w1NGFkOWMxOTMwZjVkNWRiMmI5Nzk3Mzk1Y2I2NTA1YTA5N2EwNjUyYTlmYjFhNTJlMTJlNDk0YWI5N2Y1NDdm" alt="Image">
									</figure>
								</div>
								<div>			
									<p>
										Bless up. Another one. How’s business? Boomin. Don’t ever play yourself. Life is what you make it, so let’s make it yes no.
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</section>


<h1> big boyz</h1>
<p>Handy sandwich</p>
</head>