<div class="about-callout container text-center">
    <h1>About our service:</h1>
    <p>Ever want to take a run but not know where to start?<br>
    Our app, with just a few questions will pick out the perfect route for you based on your location.
    </p>
    </img>
</div>


