<div class="about-callout container text-center">
    <img src ="https://i.imgur.com/riURc8E.png"></img>
    <h1>About our service:</h1>
    <p>Ever want to take a run but not know where to go?<br>
    Our app, with just a few questions will pick out the perfect route for you based on your location.
    </p>
    
    <style>
        html, p, h1
        {
            color: white;
        }
    </style>
</div>



